# PostgreSQL
POSTGRES_USER=dss150p_user
POSTGRES_PASSWORD=change_me_in_production
POSTGRES_DB=dss150p_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

#airflow
AIRFLOW_DB=airflow_db
AIRFLOW_USER=airflow
AIRFLOW_PASSWORD=change_me_airflow
AIRFLOW_EMAIL=airflow@example.com
AIRFLOW_FERNET_KEY=generate_a_real_key_here
AIRFLOW_SECRET_KEY=generate_a_random_string_here